@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Miracle";
  src: url("../public/fonts/Miracle\ Personal\ use.otf");
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/HelveticaNeueLTStd-Roman.otf");
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Helvetica";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Miracle";
  font-style: normal;
}

.text-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #1b3b36;
  background-clip: text;
  color: transparent;
  transition: background 0.3s ease-in-out;
  -webkit-background-clip: text;
}

.link {
  background: linear-gradient(0deg, #162f2b 0%, #162f2b 100%), #1b3b36;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.link:hover {
  background: linear-gradient(0deg, #455955 0%, #455955 100%), #1b3b36;
  transition: background 0.3s ease-in-out;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
